@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  font-family: 'Inter', sans-serif;
}

html.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

html.dark {
  --bg-color: #1a202c;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}